/* calwidget.less (calendar widget) */

.widget_spgbg_cal_widget {
	padding: 15px;

	table {
		width: 100%;
		border-spacing: 0;
		margin: 1.5ex 0;

		tr.row-even {
			background-color: #f5eaca;
			background-color: rgba(255,255,255,0.3);
		}

		td {
			font-family: @font-serif;
			padding: 1.2ex;
			line-height: 1.2;

			&.event-date {
				white-space: nowrap;
				text-align: right;
				padding-left: 0;
			}
			&.event-name {
				//white-space: nowrap;
				//overflow: hidden;
				//text-overflow: ellipsis;
				width: 80%;
				padding-right: 0;
			}
		}
	}

	.spgbg_cal_widget_page_link {
		text-align: right;
		display: block;
		margin-top: 1.3em;
	}
}