/* Documents styles - documents.less */

.doclist-header.doclist-accordion {
	cursor: pointer;
	cursor: zoom-in;
	&:after {
		.symb;
		top: 0.25em;
		float: right;
		color: @brown;
		display: block;
		font-style: normal;
		font-weight: normal;
		text-shadow: none;
		.opacity(50);
		.transition-lazy();

		&:hover, &:active {
			color: @link-red;
		}
	}

	&.doclist-collapsed:after{
		content: '⊕';
		.opacity(100);
	}

	&.doclist-expanded {
		cursor: zoom-out;

		&:after{
			content: '⊖';
		}
	}

	&:hover:after, &:active:after {
		.opacity(100);
	}
}

.doclist-header {
	margin-top: 0.4em;
}
h2.doclist-header {
	margin-top: 0.6em;
}

ul.doclist {
	margin: 0 0 1.5em;
	padding: 0;

	li {
		list-style: none outside none;
		margin: 0 0 0.5ex;

		&>a {
			display: block;
			padding: 1.2ex 4.5ex 1.2ex 1.3ex;
			min-height: 3.3em;
			position: relative;
			background: @light-beige;

			&:hover {
				background-color: @midbeige;
			}
		}

		.docdate {
			font-family: @font-sans;
			float: right;
			color: #000;
			font-size: 80%;
			line-height: 130%;
			font-weight: bold;
			margin: 0.1ex 1ex 0 2ex;

			.doc-day {

			}
			.doc-month {
				text-transform: uppercase;
			}
			.doc-year {
				display: block;
				font-size: 160%;
			}
		}

		.doctitle {
			color: @brown;
			font-weight: bold;
			line-height: 110%;
			text-align: left;
		}
		&>a:hover .doctitle { color: @link-red; }

		.docfile {
			color: @midbrown;
			opacity: 0.4;
			line-height: 110%;
			text-align: left;
		}

		.docicon {
			border: 0 none;
			background: transparent;
			padding: 0;
			position: absolute;
			right: 0.6ex;
			top: 1.3ex;
		}

		&.descendants {
			padding-left: 1em;
		}
	}

	&.doclist-collapsed {
		display: none;
	}
}