/* Forms -- forms.less */
input, textarea, select {
	background-color: #FFF;
	border: 1px solid @brown;
	color: #000;
	font-family: @font-sans;
	font-size: 85%;
	margin: 0.5ex 0;
	max-width: 100%;
	padding: 0.5em;
	display: block;
}

input[type=checkbox], input[type=radio] {
	.inlineblock();
}

label, fieldset>legend {
	font-weight: bold;
}

.button, button, input[type=submit], input[type=button] {
	padding: 0.5em 0.8em;
	margin: 0.5ex 0;
	border: 0 none;
	cursor: pointer;
	font-family: @font-sans;
	font-size: 85%;
	background: @brown;
	.gradient(@midbrown, @brown);
	color: @light-beige;
	font-weight: normal;
	.inlineblock();
	
	&:hover {
		color: #fff;
	}
	&:active {
		.gradient(darken(@brown, 1%), @brown);
	}

	&.brown {
		// This is default
	}
	&.red {
		.gradient(darken(@link-red, 10%), darken(@link-red, 20%));

		&:active {
			.gradient(darken(@link-red, 30%), darken(@link-red, 20%));
		}
	}
	&.turq, &.turquoise {
		.gradient(lighten(@turq, 5%), darken(@turq, 5%));

		&:active {
			.gradient(darken(@turq, 8%), darken(@turq, 3%));
		}
	}
	&.transparent, &.trans {
		background: transparent;
		border: 1px solid @brown;
		color: @brown;
		padding: calc(~"0.5em - 1px") calc(~"0.8em - 1px");

		&:hover {
			color: @link-red;
			border-color: @link-red;
		}
		&:active {
			background: transparent;
			border-color: #000;
		}
	}
}

fieldset.blocky-checkboxes {
	margin: 0.5ex 0 1ex;

	legend {
		display: block;
	}

	.blocky-checkboxes-inner {
		display: table;
		display: flex;
		flex-wrap: wrap;
		border-right: 1px solid lighten(@midbrown, 10%);
		border-bottom: 1px solid lighten(@midbrown, 10%);
		margin-top: 0.5ex;
	}

	label {
		display: table-cell;
		flex-grow: 1;
		padding: 0.5em 0.8em;
		margin: 0;
		border: 1px solid lighten(@midbrown, 10%);
		border-right: 0 none;
		border-bottom: 0 none;
		cursor: pointer;
		font-family: @font-sans;
		font-size: 85%;
		background: @light-beige;
		.gradient(@palebeige, @midbeige);
		color: @brown;
		font-weight: normal;
		text-align: center;
		position: relative;
		line-height: 1.1;

		&:hover {
			text-shadow: 1px 1px #fff;
		}
		&:active {
			.gradient(@light-beige, mix(@palebeige, #fff, 70%));
		}

		&.active, &.active:hover, &.active:active {
			.gradient(mix(@midbeige, @midbrown, 70%), @midbrown);
			color: #000;
			text-shadow: none !important;
		}

		input[type=checkbox], input[type=radio] {
			padding: 0;
			.opacity(0);
			position: absolute;
		}
	}
}