/* front.less - Front page, post pages and archives */

#list-post-first {
	margin-bottom: 1em;
    border-bottom: 1px solid #000;
}

.list-post.notfirst {
	font-size: 0.9em;
}

h2.title a {
	color: @brown;

	&:after {
		content: ' Läs\00a0vidare\00a0›';
		font-size: 0.6em;
		margin-left: 1em;
		text-shadow: none;
		color: @link-blue;
		line-height: 1;
		position: relative;
		top: -0.1ex;
		.transition-lazy();
		.opacity(0);
	}

	&:hover { color: @link-red; }
}

article.list-post:hover h2 a {
	&:after {
		.opacity(100);
	}

	&:hover:after {
		color: @link-red;
	}
}

#content-area p.postmeta {
	color: mix(@midbeige, @midbrown);

	span {
		white-space: nowrap;
	}

	a {
		color: mix(@link-blue, mix(@midbeige, @midbrown));

		&:hover, &:active {
			color: @link-red;
		}
	}

	&.foot {
		margin-top: -1em;
	}
	&.head {
		margin-bottom: 0;
	}
}

.pagination .page-numbers{
	.inlineblock();
	background-color: @midbeige;
	height: 1.7em;
	width: 1.7em;
	text-align: center;
	line-height: 1.7em;
	font-size: 1.1em;
	color: @midbrown;
	font-weight: bold;
	font-family: @font-sans;

	&.current {
		color: @brown;
		background-color: darken(@midbeige, 5%);
	}
}
.pagination a.page-numbers {
	&:hover, &:active {
		background-color: @light-beige;
		color: @link-red;
	}
}

// Comments and comment form
#comments-section {
	.clearfix();
	margin-top: 1em;
}

.commentlist li {
	margin-left: 0;
	list-style: none;
	background-color: fade(@midbeige, 30%);
	padding: 1em 1em 0;
	margin-bottom: 0.5em;
	.clearfix();
	.opacity(60);

	&.bymember {
		.opacity(100);
	}
	&.bypostauthor {
		box-shadow: -4px 0 10px -4px rgba(0,0,0,0.5);
		//background-color: rgba(241, 224, 180, 0.5);
		background-color: @midbeige;
	}

	ol, ul {
		margin-left: 1em;
		border-left: 6px solid @midbeige;
	}

	.comment-body {
		position: relative;
	}

	.avatar {
		float: left;
		margin-right: 10px;
		border-radius: 50%;
		border: 5px solid @midbeige;
		.box-sizing(content-box);
	}
	&.bypostauthor .avatar {
		border-color: @light-beige;
	}

	.says { display: none; }
	.fn { 
		font-style: normal; 
		font-weight: bold; 
		font-size: 0.9em;
		font-family: @font-sans;

		&:after {
			font-size: 0.7em;
			margin-left: 1em;
			text-shadow: none;
			font-style: italic;
			color: @brown;
			line-height: 1;
			position: relative;
			top: -0.1ex;
			content: ' ej medlem';
			.opacity(0);
			.transition-lazy();
		}
	}

	&:hover .fn:after {
		.opacity(100);
	}

	&.bymember .fn:after {
		content: ' medlem';
	}
	&.byeditor .fn:after {
		content: ' styrelsemedlem';
	}
	&.bypostauthor .fn:after {
		content: ' artikelförfattaren';
	}

	.comment-edit-link {
		text-indent: -9999em;
		overflow: hidden;
		position: absolute;
		top: 0;
		right: 0;
		width: 1em;
		.inlineblock();

		&:after {
			content: '✎';
			.symb;
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			text-indent: 0;
			line-height: 1em;
		}
	}

	.comment-meta {
		border-bottom: 3px solid @midbeige;
		padding-bottom: 2px;
		margin-left: 53px;
	}
	&.bypostauthor .comment-meta {
		border-bottom-color: @light-beige;
	}

	p { 
		clear: both; 
		margin-top: 1ex;
	}
}

label[for=url], label[for=email] {
	.inlineblock();
	width: 49%;
	vertical-align: top;

	input {
		width: 99%;
	}

	@media screen and (min-width: 690px) and (max-width: 799px){
		width: 99%;
	}
	@media screen and (max-width: 474px) {
		width: 99%;
	}
}

a.allowed-tags code {
	position: absolute;
	right: -10px;
	bottom: 3em;
	width: 260px;
	border-radius: 15px;
	border: 1px solid @brown;
	background-color: #fff;
	padding: 8px 10px;
	font-weight: normal;
	color: @brown;
	display: none;
	cursor: default;

	&:before, &:after {
		height: 0;
		width: 0;
		content: ' ';
		display: block;
		position: absolute;
		bottom: -20px;
		right: 50px;
		border: 10px solid transparent;
		border-right-color: #fff;
		border-top-color: #fff;
	}
	&:before {
		border-width: 11px;
		border-right-color: @brown;
		border-top-color: @brown;
		margin-bottom: -3px;
		margin-right: -1px;
	}
}