/* gallery.less */

.gallery {
	margin-bottom: 1.5em;
	.clearfix();

	figure {
		figcaption {
			margin: 0.5em;
			font-size: 0.8em;
			font-style: italic;

			em, i {
				font-style: normal;
			}
		}

		div.gallery-icon a {
			cursor: pointer;
			cursor: zoom-in;
		}
	}
	
	// Grid galleries
	&.gallery-sg-grid {

		figure {
			display: inline-block;
			*display: inline;
			vertical-align: top;
			padding: 2px;

			div.gallery-icon img {
				padding: 2px;
				width: 100%;
				height: auto;
			}

			figcaption {
				display: none;
			}
		}

		// These lines construct the very, very similar declarations for the different column counts (up to 9)
		.grid-loop(@counter) when (@counter > 0) {
			&.gallery-columns-@{counter} {
				figure {
					width: (100% / @counter);
				}
			}
			.grid-loop((@counter - 1));
		}
		.grid-loop(9);
	} // END grid galleries
	

	// Slideshow galleries
	&.gallery-sg-slideshow {
		position: relative;
		padding-top: 85%; // Yield a nice aspect ratio
		margin-bottom: 0;

		figure {
			top: 0;
			left: 0;
			display: inline-block;
			*display: inline;
			vertical-align: middle;
			height: 100%;
			position: relative;

			div.gallery-icon {
				position: absolute;
				top: 0;
				bottom: 0;
				width: 100%;
				height: 100%;
				white-space: nowrap;
				text-align: center;
				font-size: 0; // Some browsers don't accept this, but it degrades okay

				// "Centering the unknown"
				&:before {
					content: '';
					display: inline-block;
					height: 100%;
					vertical-align: middle;
					//margin-left: -0.25em; /* This is not water-tight */
				}

				a {
					display: inline-block;
					vertical-align: middle;
					max-height: 100%;
					overflow: hidden;
				}

				img {
					max-width: 100%;
					max-height: 100%;
					margin: 0 auto;
					width: auto;
				}
			}

			figcaption {
				position: absolute;
				top: 100%;
				height: 1.5em;
				.ellipsis();
			}
		}

		.sg-slideshow-wrapper {
			position: absolute;
			top: 0;
			bottom: 1.5em;
			background-color: @midbeige;
		}

		// Unslider styles, copied and modded for our custom selectors
		// #########

		//  Fading needs everything to appear on top of
		//  each other
		&.unslider-fade {
			position: relative;

			.unslider-wrap figure {
				position: absolute;
				left: 0;
				top: 0;
				right: 0;
				z-index: 8;

				&.unslider-active {
					z-index: 10;
				}
			}
		}
		// END Unslider styles

	} // END slideshow galleries
}

// For slideshows ... is a wrapper to .gallery, sooo
.unslider {
	position: relative;
	margin-bottom: 1.5em;

	.unslider-arrow {
		.opacity(50);
		.transition-lazy();
		.symb;
		display: block;
		position: absolute;
		top: 50%;
		margin-top: -0.4em; 
		color: @brown;
		font-size: 3em;
		text-decoration: none !important;
		text-shadow: 0 0 6px @palebeige;

		&:hover, &:active {
			color: @link-red;
		}

		&.prev {
			left: 10px;
			right: auto;
		}
		&.next {
			left: auto;
			right: 10px;
		}
	}

	// Copied from unslider's css
	.unslider-nav {
		position: absolute;
		bottom: 1.5em;
		height: 1.5em;
		width: 100%;
		.opacity(50);
		.transition-lazy();

		ol {
			list-style: none;
			text-align: center !important;
			margin: 0 !important;

			li {
				display: inline-block;
				width: 9px;
				height: 9px;
				margin: 0 4px;
				background: transparent;
				border-radius: 50%;
				overflow: hidden;
				text-indent: -999em;
				border: 2px solid @brown;
				box-shadow: 0 0 10px @palebeige;

				cursor: pointer;

				&.unslider-active {
					background: @brown;
					cursor: default;
				}

				&:hover, &:active {
					border-color: @link-red;

					&.unslider-active {
						background: @link-red;
					}
				}
			}
		}
	}

	&:hover .unslider-arrow, &:hover .unslider-nav {
		.opacity(100);
	}
}