/* Styles for members.tpl.php template */

@import 'variables.less';

#memberlist-tips {
	position: relative;
	font-weight: normal;
	text-shadow: none;
	.inlineblock();
}
h1 .symb {
	.opacity(40);
	color: @brown !important;
	text-decoration: none !important;
	border: 0 none !important;
	font-weight: normal;
	text-shadow: none;

	&:hover, &:active {
		.opacity(90);
	}
}
#memberlist-tips-bubble { // Only printed if logged in as admin or editor.
	display: none;
	position: absolute;
	background-color: #fff;
	border-radius: 15px;
	border: 1px solid @brown;
	padding: 8px 10px;
	font-size: 0.42em;
	width: 300px;
	font-family: @font-sans;
	z-index: 5;
	top: -90px;
	left: 100%;
	margin-left: 25px;

	p, ul {
		text-align: left;
		line-height: 1.3;
		margin-bottom: 5px;
	}

	&:before, &:after {
		height: 0;
		width: 0;
		content: ' ';
		display: block;
		position: absolute;
		top: 80px;
		left: -20px;
		border: 10px solid transparent;
		border-right-color: #fff;
		border-bottom-color: #fff;
	}
	&:before {
		border-width: 11px;
		border-right-color: @brown;
		border-bottom-color: @brown;
		margin-top: -1px;
		margin-left: -3px;
	}

	@media screen and (max-width: 640px){
		top: 100%;
		left: -150px;
		margin-left: 0;
		margin-top: 25px;

		&:before, &:after {
			top: -20px;
			left: 140px;
		}

		&:before {
			margin-top: -3px;
			margin-left: -1px;
		}
	}
	@media screen and (max-width: 400px){
		width: 240px;
	}
}


#members-table {
	table-layout: fixed;
	font-size: 0.7em;
	font-family: @font-sans;
	text-align: left;
	margin: 2em 0 3em;
	width: 100%;
	background-color: @palebeige;
	border-spacing: 1px;
	border-collapse: separate;

	tr {
		.transition(all 1s ease-in);

		&:nth-of-type(2n) {
			background-color: @light-beige;
		}

		&.not-paid {
			color: #999;
		}

		&.new-flash {
			background-color: #fff !important;
			.transition(all 0.1s ease-in);
		}
	}

	thead tr, tfoot tr {
		background-color: @midbeige;
	}

	th, td {
		padding: 0 2px;
		line-height: 1.5;
		overflow: hidden;
		vertical-align: top;

		&:hover {
			overflow-x: visible;
			position: relative;

			div:after {
				content: ' ';
				display: inline-block;
				width: 1ex;
				height: 1em;
			}

			div.editable:first-line, div.non-editable:first-line { 
				background-color: @palebeige; 
			}
		}

		div {
			white-space: nowrap;
			text-overflow: ellipsis;
			vertical-align: top;
		}

		&.sortby a {
			color: #000 !important;
		}

		&.field-comments {
			div {
				white-space: normal;
			}
		}
	}

	td {
		height: 1.3em;
		overflow-y: hidden;
	}

	tr:nth-of-type(2n) td:hover {
		div.editable:first-line, div.non-editable:first-line { background-color: @light-beige; }
	}

	th {
		&.field-bdate, &.field-since, &.field-paid {
			width: 6em;
		}
		&.field-addr {
			width: 11em;
		}
		&.field-phone {
			width: 7em;
		}
		&.field-mail {
			width: 13em;
		}
		&.field-pw, &.field-showall {
			width: 1.2em;
		}
		&.field-admin {
			width:3.6em;
		}

		@media screen and (max-width:939px){
			&.field-addr {
				width: 9em;
			}
			&.field-phone {
				width: 6em;
			}
			&.field-mail {
				width: 10em;
			}
		}
		@media screen and (max-width:839px) {
			&.field-phone {
				width:7em;
			}
			&.field-mail {
				width: auto;
			}
		}
		@media screen and (max-width:550px) {
			&.field-phone, &.field-paid, &.field-since {
				width: auto;
			}
		}
	}

	.field-showall { display: none; }
	@media screen and (max-width:839px) {
		.field-bdate, .field-addr, .field-group, .field-pw {
			display: none;
		}
		.field-showall {
			display: table-cell;
		}
	}

	.editable, .magic-select {
		.transition(all 1s ease-in);

		&.success {
			color: green;
		}
		&.error {
			color: red;
		}

		&.empty {
			width: 98%;
			height: 1.2em;
		}
	}

	input.magic-field, textarea.magic-field {
		border: 1px solid @midbrown;
		margin: 0 0 0.1em;
		width: 100%;
		display: block;
		padding: 0; //0.2em;
		line-height: 1.5;
		vertical-align: top;
		font-size: 100%;
	}
	select.magic-field {
		font-size: 100%;
		padding: 0;
		margin: 0;
	}

	// #####################
	// FOR NOW; REMOVE LATER
	.field-pw, .field-showall {
		display: none !important;
	}

	/*tr.not-paid td div.magic-select{
		position: relative;

		&:after {
			content: ' *';
			color: red;
		}

		&:hover:after, &:focus:after {
			content: 'Den här personen har inte betalat medlemsavgift det senaste året, så hennes/hans användargrupp går inte att ändra just nu.';
			background-color: #fff;
			border: 1px solid @brown;
			display: block;
			width: 15em;
			height: auto;
			position: absolute;
			top: 100%;
			right: 0;
			white-space: normal;
			border-radius: 1ex;
			padding: 1ex;
			color: @brown;
			box-shadow: 2px 2px 5px rgba(0,0,0,0.4);
			line-height: 1.2;
		}
	}*/
}

#addmember {
	p {
		margin-bottom: 0.8em;
		line-height: 1;
		display: table-row;
		max-width: 100%;
	}

	label {
		display: table-cell;
		font-weight: bold;
		line-height: 1;
		padding-right: 1em;
	}

	small {
		font-size: 0.8em;
		display: block;
		max-width: 80%;
		text-align: left;
	}

	input, textarea {
		border: 1px solid @brown;
		padding: 0.2em 0.3em;
		width: 20em;
		max-width: 90%;
		display: table-cell;

		@media screen and (max-width: 480px){
			width: auto;
		}
	}

	@media screen and (max-width: 400px){
		p, label, input {display:block;}
	}

	input[type=submit]{
		width: 7em;
		display: block;
		border: 0 none;
		padding: 0.5em 0.8em;
		margin-top: 1em;
	}
}
