/* Main menu - menu.less */

// Main menu styles
#inner {
	@media screen and (min-width: 640px) {
		position: relative;
		padding-top: 110px;
	}
	@media screen and (min-width: 800px){
		padding-top: 160px;
	}
}

#big-main-menu {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.6);
	display: none;
	overflow: auto;
	z-index: 4;

	@media screen and (min-width: 640px){
		display: block !important;
		height: auto;
		bottom: auto;
		position: absolute;
		background-color: transparent;
		overflow: visible;
	}

	ul, ul li {
		list-style: none outside none;
	}

	&>ul {
		margin: 10% auto;
		width: 80%;
		height: 350px;
		position: relative;

		@media screen and (min-width: 640px){
			margin: 0;
			width: auto;
			height: auto;
			position: static;
		}

		li.top-menu-box {
			width: 100%;
			height: 25%;
			background-color: @light-beige;
			background-position: center center;
			background-repeat: no-repeat;
			margin: 0;
			padding: 0 15px;
			display: block;

			-o-background-size: contain;
			-moz-background-size: contain;
			-webkit-background-size: contain;
			background-size: contain;

			.top-menu-title {
				display: block;
				height: 100%;
				line-height: 350px / 4;
				border-top: 1px solid #fbf4dd;
				border-bottom: 1px solid #d8caa1;
				cursor: default;
				color: @brown;
				text-transform: uppercase;
				text-align: center;
				text-shadow: 1px 1px 0 #fff;
				font-size: 1.2em;
				padding: 0 15px;
				position: relative;
				z-index: 5;

				-webkit-transition: line-height 1s;
				transition: line-height 1s;

				span {
					display: inline-block;
					*display: inline;
					vertical-align: middle;
					line-height: 1.2;
					margin-bottom: 10px;
				}
			}

			ul.top-sub-menu {
				left: 0;
				right: 0;
				top: 0;
				min-height: 350px;
				height: auto;
				max-height: auto;
				padding: 15px 20px;
				position: absolute;
				display: none;
				background-color: #f1e1b3;
				z-index: 10;
				background: #f1e1b3 url('images/submenu-bg-mobile.png') no-repeat bottom right;

				&:before {
					content: attr(data-top-menu-title);
					color: @brown;
					text-transform: uppercase;
					text-align: center;
					text-shadow: 1px 1px 0 #fff;
					font-size: 1.2em;
					padding: 0 15px 10px;
					display: block;
					margin-bottom: 10px;
					border-bottom: 1px solid #d8caa1;

					-moz-box-shadow: 0 1px 0 0 #fbf4dd;
					-webkit-box-shadow: 0 1px 0 0 #fbf4dd;
					box-shadow: 0 1px 0 0 #fbf4dd; // This looks like a border
				}

				li {
					font-size: 1.5em;
					list-style: square outside;
					color: @midbrown;

					ul {
						margin-left: 1.5em;
					}
				}

				a:link, a:visited {
					color: @midbrown;
				}
				.current-menu-item>a:link,  .current-menu-item>a:visited{ 
					color: #963e3e; 
				}
				a:hover, .current-menu-item>a:hover {
					color: @link-red;
				}
			}

			&:hover {
				background-color: #f1e1b3;
			}

			// MQs for .top-menu-box
			@media screen and (min-width: 640px){
				height: auto;
				min-height: 100px;
				width: 25%;
				padding: 15px 0;
				float: left;
				position: relative;

				-o-background-size: cover;
				-moz-background-size: cover;
				-webkit-background-size: cover;
				background-size: cover;

				-webkit-transition: background-color 0.7s;
				transition: background-color 0.7s;

				.top-menu-title{
					height: 100px - 30;
					min-height: 100px - 30;
					line-height: 100px - 30; // For vertical centering
					border: 0 none; // Overwrite the previous values for top & bottom
					border-right: 1px solid #d8caa1;
					border-left: 1px solid #fbf4dd;
					pointer-events: none;
				}

				ul.top-sub-menu {
					display: block !important;
					max-height: 0;
					overflow: hidden;
					opacity: 0;
					bottom: auto;
					z-index: 3;
					min-height: 0;
					background: @light-beige;
					padding: 0 10px 15px;

					-webkit-transition: 0.7s;
					transition: 0.7s;

					&:before {
						content: none;
						padding: 0;
						height: 0;
					}

					li {
						height: 1.5em;
						margin-bottom: 0;
						font-size: 1em;
						list-style: none outside none;
						overflow: hidden;
						white-space: nowrap;
						text-overflow: ellipsis;

						&:first-child {
							margin-top: 80px;
						}
					}
				}

				&:hover {
					height: auto;

					.top-menu-title {
						line-height: 50px;
						color: #000;
					}

					ul.top-sub-menu {
						max-height: 500px;
						min-height: 100px;
						opacity: 1;
						background-color: #f1e1b3;

						-moz-box-shadow: 0 10px 20px -10px rgba(0,0,0,0.3);
						-webkit-box-shadow: 0 10px 20px -10px rgba(0,0,0,0.3);
						box-shadow: 0 10px 20px -10px rgba(0,0,0,0.3);
					}
				}
			}
			@media screen and (min-width: 800px){
				height: 130px;

				.top-menu-title {
					height: 130px - 30;
					min-height: 130px - 30;
					line-height: 130px - 30;
				}

				&:hover {
					ul.top-sub-menu {
						min-height: 130px;
					}
				}
			}
		}
	}
}