/* Popups - popups.less */

.common-popup {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.6);
	z-index: 10;
	display: none;
	text-align: center;

	.common-popup-inner {
		margin: 7% auto 10px;
		background-color: @light-beige;
		height: auto;
		max-width: 90%;
		max-height: 80%;
		overflow: auto;
		padding: 1.5em 2em;
		position: relative;
		text-align: left;
		display: inline-block; 
		
	}
}

.close-button {
	.symb;
	display: block;
	position: absolute;
	top: 5px;
	right: 5px;
	color: #A00 !important;
	line-height: 0.45;
	padding: 0.1ex;
	font-size: 2.5em;
	text-decoration: none!important;
	font-weight: normal!important;
}

// Login popup
#login-popup-inner {
	width: 500px;
}

// Image popup
#imagePopup .common-popup-inner {
	figure {
		width: 100% !important;

		img {
			display: block;
			border: 1px solid #956b42;
			max-width: 100%;
			width: auto;
			height: auto !important;
			max-height: 74vh; // Will work in modern browsers, at least, and will degrade okay
			padding: 5px;
			background-color: #FFF;
			margin: 0 auto;
		}

		figcaption {
			text-align: center;
			margin: 0.5em;
			font-size: 0.8em;
			font-style: italic;

			em, i {
				font-style: normal;
			}
		}
	}
}