/* Sidebar and main article - sidebarticle.less */

.sidebar {
	width: 100%;
	clear: both;
}

.sidebar-widget {
	background-color: #f1e0b4;
	padding: 20px;
	float: none;
	width: 90%;
	margin: 0 auto 20px auto;
	font-size: 0.85em;
	display: block;
}
#menu { font-size: 1em; }


nav.sidebar-widget {
	ul, ol, li {
		list-style: none;
	}
	
	li {
		text-indent: -1em;
		margin-left: 1em;
	}
	li ul li {
		margin-left: 1.5em;
	}
}

// Hardcoded widgets
#bli-medlem-widget {
	padding: 0;
	.transition-lazy();

	a { display: block; }
	img {
		width: 100%;
		height: auto;
		border: 0;
		display: block;
	}

	&:hover, &:active {
		background-color: #e9cea3; //#e2ca9b; 
	}
}
#user-widget {
	position: relative;
	background-color: #e9cea3;
	padding-right: 75px !important;

	.avatar {
		border-radius: 50%;
		position: absolute;
		top: 50%;
		right: 5px;
		padding: 15px;
		background: transparent url('images/cog.png') center center no-repeat;
		margin-top: -37px;
		.box-sizing(content-box);
	}

	p {
		margin: 0;

		a {
			color: green;
			font-weight: bold;

			&:hover, &:active {
				text-decoration: underline;
			}

			&.logout {
				color: @link-red;
			}
		}
	}
}


//article {
#content-area {
	padding: 25px;
	width: 100%;
	float: none;
	margin-bottom: 2em;
}

//article p, article ul, article ol, .sidebar-widget p {
#content-area p, #content-area ul, #content-area ol, .sidebar-widget p {
	margin-bottom: 1.2em;
	text-align: left;
}

@media only screen and (min-width: 475px) {
  .sidebar-widget {
	width: 45%;
	margin: 0 0 20px 15px;
	display: inline-block;
	vertical-align: top;
  }
  #menu { font-size: 0.85em; }

  //article p, article ul, article ol, .sidebar-widget p {
  #content-area p, #content-area ul, #content-area ol, .sidebar-widget p {
	text-align: justify;
  }
}

@media only screen and (min-width: 690px) {
  .sidebar {
  	float: right;
  	width: 30%;
  	margin: 0;
  	clear: right;
  }
  .sidebar-widget {
	//float: right;
	margin-left: 0;
	width: 100%;
	display: block;
  }
  //article {
  #content-area {
	float: left;
	width: 65%;
	margin-bottom: 0;
  }
}

#mainImage { 
/* Teaser image; appears above main H1 on pages where it's defined (and with first news post on front page). 
   Should add some cropping and stuff as things progress. */
	max-width: 100%; 
	height: auto;
	margin: 0 0 1em 0;
	border: 1px solid #956b42;
	padding: 0;
}
@media only screen and (min-width: 690px) {
  #mainImage {
	margin-top: -25px; /* should equal top padding on article times -1 */
  }
}


// Overrides for "wide pages", like Kalendarium and Medlemslista
body.widepage {
	.sidebar-widget.nav-shortcut {
		display: none;
	}

	@media only screen and (min-width: 690px) {
	  .sidebar {
	  	width: 100%;
	  	float:none;
	  	clear: both;
	  	margin: 0 auto;
	  	text-align: center;
	  }
	  .sidebar-widget {
	  	float: none;
		width: 30%;
		margin: 0 8px 20px 8px;
		display: inline-block;
		vertical-align: top;
		text-align: left;
	  }
	  
	  #inner {
	  	position: relative;
	  }
	  .sidebar-widget.nav-shortcut {
	  	display: block;
	  	height: 4em;
	  	width: 28%;
	  	position: absolute;
	  	top: 30px;
	  	right: 30px;
	  	cursor: pointer;
	  	
	  	-webkit-box-shadow: 5px 5px 3px #999;
	  	box-shadow: 5px 5px 3px #999;
	  }
	  .sidebar-widget.nav-shortcut:hover h2 {
	  	color: #CC2230;
	  }
	  
	  //article {
	  #content-area {
	  	border-bottom: 3px solid #880210;
	  	margin-bottom: 1.5em;
	  	padding-left: 0;
	  	padding-right: 0;
	  }
	}

	@media only screen and (min-width: 750px){
		//article {
		#content-area{
			padding: 25px;
		}
	}

	//article {
	#content-area {
		width: 100%;
		position: relative;
	}

	#menu .smallonly {
		display: block;
		margin-bottom: 0;
	}
}