/* styrelse.less */

#content-area {
	ul.committee-list {
		margin: 1em 0;

		li {
			.clearfix();
			margin: 0 0 0.5ex;
			list-style: none;

			@media screen and (min-width: 500px){
				background: @light-beige;
				padding: 0.5ex 1.5ex 0.5ex 0.5ex;

				p:last-child { margin-bottom: 0.5ex; }
			}
			@media screen and (min-width: 690px) and (max-width:750px){
				p { line-height: 1.2; }
			}

			&:last-child { border-bottom: 0; }

			img.wp-post-image {
				border: 0;
				padding: 0;
				width: 150px;
				height: auto;
				display: block;

				@media screen and (min-width:500px){
					max-width: 30%;
					float: left;
					margin-right: 1.5ex;
				}
			}

			h3 {
				font-style: normal;
				font-size: 1.1em;
				margin: 0.5ex 0 0.1ex;
				color: black;
			}

			p.positions {
				margin-bottom: 1ex;
				font-weight: bold;
			}

			span.email {
				font-weight: normal;
			}

			&.even {
				@media screen and (min-width:500px){
					padding-right: 0.5ex;
					padding-left: 1ex;

					img.wp-post-image {
						float: right;
						margin-left: 1ex;
						margin-right: 0;
					}
				}
			}
		}
	}

	ul.other-posts-list {
		li {
			list-style: none;
			margin-left: 0;
		}
	}
}