/* type.less */

/* @font-face rules */
@font-face {
    font-family: 'ParmaPetit';
    src: url('fonts/parmapetit-normal-wf.eot');
    src: url('fonts/parmapetit-normal-wf.eot?#iefix') format('eot'),
         url('fonts/parmapetit-normal-wf.woff') format('woff'),
         url('fonts/parmapetit-normal-wf.ttf') format('truetype'),
         url('fonts/parmapetit-normal-wf.svg#ParmaPetit') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Entypo';
    src: url('fonts/entypo.eot');
    src: url('fonts/entypo.eot?#iefix') format('eot'),
         url('fonts/entypo.woff') format('woff'),
         url('fonts/entypo.ttf') format('truetype'),
         url('fonts/entypo.svg#Entypo') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* Text styles */
h1, h2, h3, h4, h5 {
	font-family: @font-sans;
	margin-bottom: 0.4ex;
	color: @brown;
	font-weight: bold;
	line-height: 1.1em;
}
p, li {
	line-height: 1.4em;
}
@media only screen and (min-width: 475px) { p, li { line-height: 1.6em; } } /* Lines are a bit wider around this point */
@media only screen and (min-width: 690px) { p, li { line-height: 1.4em; } }

h1 { 
	font-size: 1.5em; 
	text-shadow: 1px 1px 0 #fff;
}
@media only screen and (min-width: 690px) { h1 { font-size: 1.7em; } }
h2 { 
	font-size: 1.3em; 
	text-shadow: 1px 1px 0 #fff;
}
h3 { 
	font-size: 1.2em; 
	font-style: italic; 
}
h4 {
	margin-bottom: 0.5ex;
	font-size: 1.05em;
	color: #000;
}
h5 {
	font-weight: bold;
	font-style: italic;
	font-size: 1.05em;
	color: #000;
}

.sidebar h2 {
	text-shadow: none;
}

li {
	list-style: disc inside;
	margin-left: 1em;
}

.symb { 
	font-family: Entypo;
	font-size: 2em;
	line-height: 0;
	position: relative;
	top: 0.1em;
}
.smallonly { /* For small screens only */
	display: auto;
}
@media only screen and (min-width: 690px) { .smallonly { display: none; } }

.clearboth { clear:both; }

article img {
	display: block;
	border: 1px solid #956b42;
	max-width: 100%;
	height: auto !important;
	padding: 5px;
	background-color: #FFF;

	&.noframe {
		border: 0;
		padding: 0;
	}
}

// This is error messages and the like, 
.main-msg {
	padding: 0.5em 0.8em;
	margin-top: -25px;
	color: @turq;
	background: fade(@turq, 10%);
	border: 2px solid @turq;

	&.error {
		color: #A00;
		background: rgba(150,0,0,0.1);
		border-color: #A00;
	}
}