// variables 

@brown: #603913;
@midbrown: #966b3e;
@link-red: #CC2230;
@light-beige: #f7eabc;
@midbeige: #f1e0b4;
@palebeige: #FFF7CC;
@link-blue: #6050BB;
@turq: rgb(0,100,100);

@font-serif: "Gentium Book Basic", "Gentium Basic", "Palatino Linotype", Perpetua, "Book Antiqua", serif;
@font-sans: Arial, Helvetica, 'Liberation sans', sans-serif;

.clearfix() {
	&:before, &:after {
		content: " ";
		display: table;
	}
	&:after {
		clear: both;
	}
}

.opacity(@opacity){
	opacity: @opacity / 100;
	filter: alpha(opacity=@opacity);
}

.transition(@transition){
	-webkit-transition: @transition;
	-moz-transition: @transition;
	transition: @transition;
}

.transition-lazy(){
	.transition(all 0.2s ease-out);
}

.inlineblock(){
	display: inline-block;
	zoom: 1;
	*display: inline;
}

.box-sizing(@sizing){
	-webkit-box-sizing: @sizing;
	-moz-box-sizing: @sizing;
	box-sizing: @sizing;
}

.ellipsis(){
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.gradient (@startColor: #eee, @endColor: white) {
	background-color: @startColor;
	background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
	background: -webkit-linear-gradient(top, @startColor, @endColor);
	background: -moz-linear-gradient(top, @startColor, @endColor);
	background: -ms-linear-gradient(top, @startColor, @endColor);
	background: -o-linear-gradient(top, @startColor, @endColor);
}