﻿/* Shows the correct table based on screen size. 
   Having two calendars is a bit hacky, but it works. */
.cal-large { display: none; }
.cal-small { display: table; }
@media only screen and (min-width: 690px) {
	.cal-large { display: table; }
	.cal-small { display: none; }
}


/* ######## Calendar styles ###### */
#calendar-wrapper {
	min-height: 15em;
	*height: 15em;
	text-align: center;
}
@media only screen and (min-width: 690px) {
	.calendar-clear {
		display:none;
	}
}

h1 {
	text-align: center;
}

.calendar {
	border-spacing: 4px;
	clear: both;
	margin-top: 1.5ex;
	width: 122%;
	margin-left: -11%;
}
.event-time span { display: block; }
@media only screen and (min-width: 380px) { /* Special case! Not a width you'll see anywhere else really */
	.calendar {
		width: 116%;
		margin-left: -8%;
	}
	.event-time span { display: inline; }
}
@media only screen and (min-width: 475px) {
	.calendar {
		width: 100%;
		margin-left: 0;
	}
}
.cal-small .calendar-daynum {
	width: 10%;
}
.cal-small .event-time { width: 20%; }

.cal-large td, .cal-large th {
	width: 14.29%; /* About one seventh */
}

.cal-large td {
	vertical-align: top;
	background-color: #F1E0b4;
	height: 120px;
}
.cal-large td.today {
	background-color: #ffdead; /* "Navajo White" */
}
.cal-large th {
	color: rgba(149,107,66,0.5); /* #956b42 */
	font-weight: bold;
	font-family: sans-serif;
	text-transform: uppercase;
	padding: 3px;
}

.cal-small td {
	vertical-align: middle;
	background-color: none;
	padding: 1ex;
	text-align: left;
}
.cal-small tr:nth-child(2n-1) td {
	background-color: #f1e0b4;
}

.calendar .empty {
	background: none;
}

.calendar-td-wrapper-outer {
	margin: 0;
	width: 100%;
}
.calendar-td-wrapper {
	width: 100%;
	text-align: left;
}

.calendar-daynum {
	font-weight: bold;
	font-size: 30px;
	line-height: 30px;
	color: #956b42;
	text-align: left;
	padding: 0;
}
.cal-large .calendar-daynum {
	font-size: 15px;
	line-height: 20px;
	text-indent: 3px;
}

.calendar-event {
	width: 100%;
	padding: 5px 4px;
	background-color: rgba(0,100,100,0.3);
	margin-bottom: 2px;
	font-family: sans-serif;
	overflow-x: hidden;
	
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
}
td .calendar-event:last-of-type {
	margin-bottom: 0;
}

.calendar-event.allday {
	background-color: rgba(0,0,100,0.3);
}
.calendar-event.allday p:first-of-type {
	display: none;
}
.calendar-event.multi-day {
	background-color: rgba(150,100,0,0.3);
}
.calendar-event.multi-day h3:after, .cal-small .multi-day h3:after {
	content: " (forts.)";
}
.calendar-event.multi-day.first h3:after, .cal-small .multi-day.first h3:after {
	content: none;
}

.cal-small .allday .event-time p { display: none; }
.cal-small p { margin-bottom: 0; line-height: 100%; }

.cal-large h3, .cal-large p {
	font-size: 70%;
	line-height: 120%;
	margin: 0;
	font-family: sans-serif;
	color: #000;
	width: 100%;
	text-align: left;
	
	overflow-x: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
}
.cal-large h3 {
	font-weight: bold;
	font-style: normal;
}

.cal-small h3 {
	font-style: normal;
	font-size: 0.9em;
}


/* ################ next/prev and calendar links ########### */
#btn_prev, #btn_next {
	width: 1em;
	font-size: 2em;
	text-decoration: none;
	color: #880210;
	position:relative;
	z-index:3;
	cursor: pointer;
}
#btn_prev {
	float: left;
}
#btn_next {
	float: right;
	text-align: right;
}

#btn_prev:hover, #btn_next:hover {
	color: #CC2230;
}

#btn_prev.disabled, #btn_next.disabled, #btn_prev.disabled:hover, #btn_next.disabled:hover {
	color: #999;
}

.calmonth {
	position:relative;
}
#openCalLinks {
	text-shadow: none;
	font-size: 3ex;
	/* color: black; */
	font-weight: normal;
	position: absolute;
	top: 0.75ex;
	margin-left: 10px;
	text-decoration: none!important;
	letter-spacing: -0.1ex;
	cursor: pointer;
	display: none;
}
@media only screen and (min-width: 690px){
	#openCalLinks {
		display: inline;
	}
}

#calendar-links {
	width: 100%;
	background-color: #f7eabc;
	margin-bottom: 1ex;
	padding: 10px;

	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
#calendar-links:hover {
	background-color: #f1e0b4;
}
#calendar-links li {
	list-style: none;
	margin-left: 1ex;
	line-height: 2em;
	display: block;
}
#calendar-links li a { 
	text-decoration: none;
}
#calendar-links .symb {
	font-size: 3em;
	line-height: 0.6em;
}

#xml { color:#ff7700; }
#ical { color:#552200; }
#html { color:#6688ff; }
#xml:hover, #ical:hover, #html:hover { color:#CC2230; }

#xml:after { content: " på kalendern"; }
#ical:after { content: " kalendern (iCal)"; }
#html:after { content: " i Google Cal."; }

@media only screen and (min-width: 390px) {
	#xml:after { content: " på kalenderns Atom-flöde"; }
	#ical:after { content: " kalendern i iCal-format"; }
	#html:after { content: " i Google Calendar"; }
}
@media only screen and (min-width: 550px) {
	#calendar-links li {
		display: inline-block;
		width: 30%;
		margin: 0;
	}
	#calendar-links li:first-child { margin-left: 1ex; }
	
	#xml:after { content: ""; }
	#ical:after { content: " (iCal)"; }
	#html:after { content: ""; }
}
@media only screen and (min-width: 690px) {
	#calendar-links {
		position: absolute;
		left: 0;
		top: -2em;
		width: 100%;
		font-size: 85%;
		padding: 0;
		text-align: center !important;
	}
	#calendar-links li {
		margin: 0 0.7em !important;
		width: auto;
	}

	#content-area {
		margin-top: 2em;
	}
}
@media only screen and (min-width: 800px) {
	#calendar-links {
		top: -2.5em;
	}
}

// Override
article>h1 {
	line-height: 0;
}