/* Styles for members.tpl.php template */
#memberlist-tips {
  position: relative;
  font-weight: normal;
  text-shadow: none;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
h1 .symb {
  opacity: 0.4;
  filter: alpha(opacity=40);
  color: #603913 !important;
  text-decoration: none !important;
  border: 0 none !important;
  font-weight: normal;
  text-shadow: none;
}
h1 .symb:hover,
h1 .symb:active {
  opacity: 0.9;
  filter: alpha(opacity=90);
}
#memberlist-tips-bubble {
  display: none;
  position: absolute;
  background-color: #fff;
  border-radius: 15px;
  border: 1px solid #603913;
  padding: 8px 10px;
  font-size: 0.42em;
  width: 300px;
  font-family: Arial, Helvetica, 'Liberation sans', sans-serif;
  z-index: 5;
  top: -90px;
  left: 100%;
  margin-left: 25px;
}
#memberlist-tips-bubble p,
#memberlist-tips-bubble ul {
  text-align: left;
  line-height: 1.3;
  margin-bottom: 5px;
}
#memberlist-tips-bubble:before,
#memberlist-tips-bubble:after {
  height: 0;
  width: 0;
  content: ' ';
  display: block;
  position: absolute;
  top: 80px;
  left: -20px;
  border: 10px solid transparent;
  border-right-color: #fff;
  border-bottom-color: #fff;
}
#memberlist-tips-bubble:before {
  border-width: 11px;
  border-right-color: #603913;
  border-bottom-color: #603913;
  margin-top: -1px;
  margin-left: -3px;
}
@media screen and (max-width: 640px) {
  #memberlist-tips-bubble {
    top: 100%;
    left: -150px;
    margin-left: 0;
    margin-top: 25px;
  }
  #memberlist-tips-bubble:before,
  #memberlist-tips-bubble:after {
    top: -20px;
    left: 140px;
  }
  #memberlist-tips-bubble:before {
    margin-top: -3px;
    margin-left: -1px;
  }
}
@media screen and (max-width: 400px) {
  #memberlist-tips-bubble {
    width: 240px;
  }
}
#members-table {
  table-layout: fixed;
  font-size: 0.7em;
  font-family: Arial, Helvetica, 'Liberation sans', sans-serif;
  text-align: left;
  margin: 2em 0 3em;
  width: 100%;
  background-color: #fff7cc;
  border-spacing: 1px;
  border-collapse: separate;
  /*tr.not-paid td div.magic-select{
		position: relative;

		&:after {
			content: ' *';
			color: red;
		}

		&:hover:after, &:focus:after {
			content: 'Den här personen har inte betalat medlemsavgift det senaste året, så hennes/hans användargrupp går inte att ändra just nu.';
			background-color: #fff;
			border: 1px solid @brown;
			display: block;
			width: 15em;
			height: auto;
			position: absolute;
			top: 100%;
			right: 0;
			white-space: normal;
			border-radius: 1ex;
			padding: 1ex;
			color: @brown;
			box-shadow: 2px 2px 5px rgba(0,0,0,0.4);
			line-height: 1.2;
		}
	}*/
}
#members-table tr {
  -webkit-transition: all 1s ease-in;
  -moz-transition: all 1s ease-in;
  transition: all 1s ease-in;
}
#members-table tr:nth-of-type(2n) {
  background-color: #f7eabc;
}
#members-table tr.not-paid {
  color: #999;
}
#members-table tr.new-flash {
  background-color: #fff !important;
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}
#members-table thead tr,
#members-table tfoot tr {
  background-color: #f1e0b4;
}
#members-table th,
#members-table td {
  padding: 0 2px;
  line-height: 1.5;
  overflow: hidden;
  vertical-align: top;
}
#members-table th:hover,
#members-table td:hover {
  overflow-x: visible;
  position: relative;
}
#members-table th:hover div:after,
#members-table td:hover div:after {
  content: ' ';
  display: inline-block;
  width: 1ex;
  height: 1em;
}
#members-table th:hover div.editable:first-line,
#members-table td:hover div.editable:first-line,
#members-table th:hover div.non-editable:first-line,
#members-table td:hover div.non-editable:first-line {
  background-color: #fff7cc;
}
#members-table th div,
#members-table td div {
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: top;
}
#members-table th.sortby a,
#members-table td.sortby a {
  color: #000 !important;
}
#members-table th.field-comments div,
#members-table td.field-comments div {
  white-space: normal;
}
#members-table td {
  height: 1.3em;
  overflow-y: hidden;
}
#members-table tr:nth-of-type(2n) td:hover div.editable:first-line,
#members-table tr:nth-of-type(2n) td:hover div.non-editable:first-line {
  background-color: #f7eabc;
}
#members-table th.field-bdate,
#members-table th.field-since,
#members-table th.field-paid {
  width: 6em;
}
#members-table th.field-addr {
  width: 11em;
}
#members-table th.field-phone {
  width: 7em;
}
#members-table th.field-mail {
  width: 13em;
}
#members-table th.field-pw,
#members-table th.field-showall {
  width: 1.2em;
}
#members-table th.field-admin {
  width: 3.6em;
}
@media screen and (max-width: 939px) {
  #members-table th.field-addr {
    width: 9em;
  }
  #members-table th.field-phone {
    width: 6em;
  }
  #members-table th.field-mail {
    width: 10em;
  }
}
@media screen and (max-width: 839px) {
  #members-table th.field-phone {
    width: 7em;
  }
  #members-table th.field-mail {
    width: auto;
  }
}
@media screen and (max-width: 550px) {
  #members-table th.field-phone,
  #members-table th.field-paid,
  #members-table th.field-since {
    width: auto;
  }
}
#members-table .field-showall {
  display: none;
}
@media screen and (max-width: 839px) {
  #members-table .field-bdate,
  #members-table .field-addr,
  #members-table .field-group,
  #members-table .field-pw {
    display: none;
  }
  #members-table .field-showall {
    display: table-cell;
  }
}
#members-table .editable,
#members-table .magic-select {
  -webkit-transition: all 1s ease-in;
  -moz-transition: all 1s ease-in;
  transition: all 1s ease-in;
}
#members-table .editable.success,
#members-table .magic-select.success {
  color: green;
}
#members-table .editable.error,
#members-table .magic-select.error {
  color: red;
}
#members-table .editable.empty,
#members-table .magic-select.empty {
  width: 98%;
  height: 1.2em;
}
#members-table input.magic-field,
#members-table textarea.magic-field {
  border: 1px solid #966b3e;
  margin: 0 0 0.1em;
  width: 100%;
  display: block;
  padding: 0;
  line-height: 1.5;
  vertical-align: top;
  font-size: 100%;
}
#members-table select.magic-field {
  font-size: 100%;
  padding: 0;
  margin: 0;
}
#members-table .field-pw,
#members-table .field-showall {
  display: none !important;
}
#addmember p {
  margin-bottom: 0.8em;
  line-height: 1;
  display: table-row;
  max-width: 100%;
}
#addmember label {
  display: table-cell;
  font-weight: bold;
  line-height: 1;
  padding-right: 1em;
}
#addmember small {
  font-size: 0.8em;
  display: block;
  max-width: 80%;
  text-align: left;
}
#addmember input,
#addmember textarea {
  border: 1px solid #603913;
  padding: 0.2em 0.3em;
  width: 20em;
  max-width: 90%;
  display: table-cell;
}
@media screen and (max-width: 480px) {
  #addmember input,
  #addmember textarea {
    width: auto;
  }
}
@media screen and (max-width: 400px) {
  #addmember p,
  #addmember label,
  #addmember input {
    display: block;
  }
}
#addmember input[type=submit] {
  width: 7em;
  display: block;
  border: 0 none;
  padding: 0.5em 0.8em;
  margin-top: 1em;
}
