/* Reset */
* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	text-decoration: none;
	vertical-align: baseline;
	background: transparent;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; /* Not handled well by older browsers. IE lte 7 get their own fix (see html). */
}
ol, ul {
	list-style: none;
}
html, body {
	line-height: 1;
	height: 100%;
	font-size: 100%;
}

/* HTML5 */
section, header, footer, nav, article, aside {
	display: block;
}


/**********************************************************************************/

/* Base stuff */
body {
	background-color: #000; /* Mimics the footer bg color (in case the page is very short, it will look as though footer extends downwards). */
	color: #000;
	font-family: "Gentium Book Basic", "Gentium Basic", "Palatino Linotype", Perpetua, "Book Antiqua", serif;
}
@media only screen and (min-width: 690px) { body { font-size: 110%; line-height: 1; } }

#container, #bgdiv {
	width: 100%;
}
@media only screen and (min-width: 1010px) {
  #container { 
	background: #EDE0F7 url('images/topbg.png') center 85px no-repeat scroll; 
	
	background: url('images/topbg.png'), -moz-linear-gradient(#EDE0F7, #ccc3d2);
	background: url('images/topbg.png'), -webkit-linear-gradient(#EDE0F7, #ccc3d2);
	background: url('images/topbg.png'), -o-linear-gradient(#EDE0F7, #ccc3d2);
	background: url('images/topbg.png'), linear-gradient(#EDE0F7, #ccc3d2);
	
	background-position: center 85px, top left;
	background-repeat: no-repeat, repeat;
  }
  #bgdiv { background: url('images/footbg-outer.png') center bottom no-repeat; }
}


/* #mainheader */
#mainheader {
	background: #EDE0F7 url('images/header-small.png') center bottom no-repeat;
	width: 100%;
	height: 140px;
	margin: 0 auto;
	text-indent: -8000em;
	font-size: 1px;
	zoom: 1; /* IE hack to trigger hasLayout, in case specifying height/width doesn't */
	
	/* (P)reset to defaults, as some browsers (IE 9, I'm looking at you) render things looking funny otherwise. */
	-webkit-background-size: auto;
    -moz-background-size: auto;
    -o-background-size: auto;
    background-size: auto;
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='', sizingMethod='image')";
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='', sizingMethod='image');
}
@media only screen and (min-width: 690px) {
  #mainheader {
	background: #EDE0F7 url('images/header-opaque.png') center bottom no-repeat;
	height: 155px;
	
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	/* ################################################################################################################################ */
	/* Paths to img should be ABSOLUTE (as filter/AlphaImageLoader use paths relative to PAGE not style sheet). CHANGE before upload!!! */
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/header-opaque.png', sizingMethod='scale')";
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/header-opaque.png', sizingMethod='scale');
  }
}
/* These widths are selected for being the sizes at which the given heights satisfy w=h*4.5, 4.5 being the w/h ratio of header-opaque.png. */
@media only screen and (min-width: 765px) { #mainheader { height: 170px; } }
@media only screen and (min-width: 833px) { #mainheader { height: 190px; } }
@media only screen and (min-width: 923px) { #mainheader { height: 205px; } }
@media only screen and (min-width: 1010px) {
  #mainheader {
	background-color: transparent;
	background: url('images/header.png') center bottom no-repeat;
	width: 990px;
	height: 220px;
	
	/* Reset to defaults, as some browsers (IE 9, I'm looking at you) render the image looking funny otherwise. */
	-webkit-background-size: auto;
    -moz-background-size: auto;
    -o-background-size: auto;
    background-size: auto;
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='', sizingMethod='image')";
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='', sizingMethod='image');
  }
}


/* section#outer and section#inner */
#outer {
	background-color: #000;
	width: 100%;
	margin: 0 auto;
}
#outer>p {
	color: #956b42;
	margin-left: 10px;
	margin-right: 10px;
	padding: 0.5ex 0;
}
	#breadcrumb { text-align: left; display: none; }
	#menulink { text-align: right; float: none; display: block; font-size: 1.2em; }
	
	@media only screen and (min-width: 475px) { 
	  #breadcrumb { display: block; font-size: 1em; } 
	  #menulink { float: right; font-size: 1em; }
	}
	@media only screen and (min-width: 640px) {
	  #menulink { display: none; }
	  #breadcrumb { font-size: 0.85em; }
	}
	
#inner {
	background: #FFF7CC url('images/footbg-tiny.png') right bottom no-repeat;
	width: 97.98%; /* 0.9798 = 970/990, so this approaches 970px as 100% approaches 990. */
	margin: 0 auto;
	padding: 5px;
	padding-bottom: 100px;
}
@media only screen and (min-width: 475px) {
  #inner {
	background: #FFF7CC url('images/footbg-small.png') center bottom no-repeat;
	padding: 20px;
	padding-bottom: 190px; 
  }
}
@media only screen and (min-width: 690px) {
  #inner {
	background: #FFF7CC url('images/footbg-inner.png') center bottom no-repeat;
	padding-bottom: 250px; /* height of footbg-inner.png is 383px. Removed some to let text flow into the image from the top. */
  }
}
@media only screen and (min-width: 833px) {
  #inner {
	padding: 30px;
	padding-bottom: 250px;
  }
}
@media only screen and (min-width: 923px) { 
  #inner { padding-bottom: 320px; } 
}
@media only screen and (min-width: 1010px) {
  #outer { width: 990px; }
  #inner { width: 970px; }
}


/* Footer */
footer { 
	background-color: #000;
	width: 100%;
	color: #FFF7CC;
	padding-bottom: 2.5em;
	text-align: center;
}
#footer-inner, #footer-inner p { text-align: left; }
#footer-inner p { max-width: 30em; margin: 0 0 0 auto; }
#footer-inner {
	font-size: 0.85em;
	width: 97.98%; /* Approaches 970px as 100% approaches 990. */
	margin: 0 auto;
}
@media only screen and (min-width: 475px) { #footer-inner, #footer-inner p { text-align: right; } }
@media only screen and (min-width: 1010px) { #footer-inner, #footer-inner p { width: 970px; } }
#spgbg-footer {
	height: 1.8em;
	width: auto;
	margin: 1.4em 0 0.5em 0;
}


/* Links */
a:link, a:visited { color: #6050BB; }
a.current:link,  a.current:visited{ color: #956b42; } /* The class .current shows up in nav.sidebar and #breadcrumb, mainly */
a:hover, a.current:hover { color: #CC2230; }
a:active, a.current:active { text-decoration: underline; }
